<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  	<appSettings>
		<!-- app_mode: ["unit_test", "web_deploy"] -->
		<add key="app_mode" value="web_deploy" />
		<!-- output_wkid: 4326 (GCS_WGS_1984) -->
		<add key="output_wkid" value="4326" />
		<add key="max_num_of_rows" value="10000" />
		<add key="store" value="C:\ProjectStore\Chen\UploadFile\test_data\user_store" />
		<add key="stage" value="C:\ProjectStore\Chen\UploadFile\test_data\data_stage" />
		<add key="cache" value="C:\ProjectStore\Chen\UploadFile\test_data\data_cache" />
		<!-- Geocoding Service Keys -->
        <add key="gc_provider" value="esri" />
        <add key="esri_agol_key" value="" />
		<!-- db_provider:  -->
        <add key="db_provider" value="odbc" />
		<add key="db_conn_string" value="DRIVER={SQL Server Native Client 11.0};SERVER=localhost\SQLEXPRESS;DATABASE=devwork;Trusted_Connection=yes;" />
		<!-- SQL statements on uploaded data -->
		<add key="data_list" value="select u.src_file_path, u.data_name, u.data_size, u.last_modified, u.last_uploaded, u.upload_status, u.total_row_count, u.cached_row_count, s.drawing_info    from xom.SYM_file_uploads u left outer join xom.SYM_file_styles s on u.owner = s.owner and u.src_file_path = s.src_file_path    where u.owner = ? order by last_uploaded desc" />
		<add key="data_query" value="select last_modified, cache_file_path, total_row_count, cached_row_count from xom.SYM_file_uploads    where owner = ? and src_file_path=? and upload_status = 'READY' and cache_file_path is not null" />
		<add key="data_insert" value="insert into xom.SYM_file_uploads    (owner, src_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count)    values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?) " />
		<add key="data_delete" value="delete from xom.SYM_file_uploads where owner = ? and src_file_path = ?" />
		<add key="data_touch" value="update xom.SYM_file_uploads set last_accessed = ? where owner = ? and src_file_path = ?" />
		<add key="data_rename" value="update xom.SYM_file_uploads set data_name = ? where owner = ? and src_file_path = ?" />
		<add key="data_archive" value="insert into xom.SYM_file_uploads_archived    (owner, src_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count, archived)    select owner, ?, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count, ?    from xom.SYM_file_uploads where owner = ? and src_file_path = ?" />
		<!-- SQL statements on styles of uploaded data -->
		<add key="status_query" value="select upload_status from xom.SYM_file_uploads where owner = ? and src_file_path=?" />
		<add key="style_query" value="select drawing_info from xom.SYM_file_styles where owner = ? and src_file_path = ?" />
		<add key="style_insert" value="insert into xom.SYM_file_styles (owner, src_file_path, drawing_info) values (?, ?, ?)" />
		<add key="style_update" value="update xom.SYM_file_styles set drawing_info = ? where owner = ? and src_file_path = ?" />
		<add key="style_delete" value="delete from xom.SYM_file_styles where owner = ? and src_file_path = ?" />
		<!-- SQL statements on shared data -->
		<add key="shared_data_list" value="select u.owner, u.src_file_path, u.data_name, u.data_size, u.last_modified, u.last_uploaded, u.upload_status, u.total_row_count, u.cached_row_count, s.drawing_info, o.shared_date
			from xom.SYM_file_uploads u left outer join xom.SYM_file_styles s on u.owner = s.owner and u.src_file_path = s.src_file_path
									 join xom.SYM_file_uploads_shared o on u.owner = o.owner and u.src_file_path = o.src_file_path
			where o.shared_user = ? order by last_uploaded desc" />
		<add key="shared_user_list" value="select shared_user, shared_date from xom.SYM_file_uploads_shared
			where owner = ? and src_file_path = ? order by shared_user, shared_date asc" />
		<add key="shared_insert" value="insert into xom.SYM_file_uploads_shared (owner, src_file_path, shared_user, shared_date) values (?, ?, ?, ?)" />
		<add key="shared_delete" value="delete from xom.SYM_file_uploads_shared where owner = ? and src_file_path = ? and shared_user = ?" />
		<add key="shared_delete_all" value="delete from xom.SYM_file_uploads_shared where owner = ? and src_file_path = ?" />
		<!-- default symbol json files -->
		<add key="default_style_point" value="C:\ProjectStore\Chen\UploadFile\config\default_symbol_point.json" />
		<add key="default_style_line" value="C:\ProjectStore\Chen\UploadFile\config\default_symbol_line.json" />
		<add key="default_style_polygon" value="C:\ProjectStore\Chen\UploadFile\config\default_symbol_polygon.json" />
		<!-- debugger -->
		<add key="debug" value="True" />
	</appSettings>
</configuration>
