<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<!-- app_mode: ["unit_test", "web_deploy"] -->
		<add key="app_mode" value="unit_test" />
		<!-- output_wkid: 4326 (GCS_WGS_1984) -->
		<add key="output_wkid" value="4326" />
		<add key="max_num_of_rows" value="10000" />
		<add key="store" value="C:\Users\kdb086\Projects\CgiPythonProject\user_store" />
		<add key="stage" value="C:\Users\kdb086\Projects\CgiPythonProject\data_stage" />
		<add key="cache" value="C:\Users\kdb086\Projects\CgiPythonProject\data_cache" />
		<!-- Bing Map Key -->
		<add key="bing_map_key" value="AucS13UKT6Z3vdopT191o2GIGUcyZ5rnO5cvdY_Py01vancFOkFezw7K7XGeA8or" />
		<!-- db_provider: ["sqlite", "oracle"] -->
		<add key="db_provider" value="sqlite" />
		<!-- db_conn: ["GRP_IMAPS/gis11@SDET", "config/imaps_config.db"] -->
		<add key="db_conn" value="C:\Users\kdb086\Projects\CgiPythonProject\config\imaps_config.db" />
		<!-- SQL statements on uploaded data -->
		<add key="data_list" value="select u.src_file_path, u.data_name, u.data_size, u.last_modified, u.last_uploaded, u.upload_status, u.total_row_count, u.cached_row_count, s.drawing_info
			from chen_file_uploads u left outer join chen_file_styles s on u.owner = s.owner and u.src_file_path = s.src_file_path 
			where u.owner = :owner order by last_uploaded desc" />
		<add key="data_query" value="select last_modified, cache_file_path, total_row_count, cached_row_count from chen_file_uploads 
			where owner = :owner and src_file_path=:src_file_path and upload_status = 'READY' and cache_file_path is not null" />
		<add key="data_insert" value="insert into chen_file_uploads 
			(owner, src_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count)
			values (:owner, :src_file_path, :data_size, :cache_file_path, :data_name, :last_modified, :last_uploaded, :last_uploaded, :upload_status, :total_row_count, :cached_row_count) " />
		<add key="data_delete" value="delete from chen_file_uploads where owner = :owner and src_file_path = :src_file_path" />
		<add key="data_touch" value="update chen_file_uploads set last_accessed = :last_accessed where owner = :owner and src_file_path = :src_file_path" />
		<add key="data_rename" value="update chen_file_uploads set data_name = :data_name where owner = :owner and src_file_path = :src_file_path" />
		<add key="data_archive" value="insert into chen_file_uploads_archived 
			(owner, src_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count, archived)
			select owner, :arv_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count, :archived
			from chen_file_uploads where owner = :owner and src_file_path = :src_file_path" />
		<!-- SQL statements on styles of uploaded data -->
		<add key="status_query" value="select upload_status from chen_file_uploads where owner = :owner and src_file_path=:src_file_path" />
		<add key="style_query" value="select drawing_info from chen_file_styles where owner = :owner and src_file_path = :src_file_path" />
		<add key="style_insert" value="insert into chen_file_styles (owner, src_file_path, drawing_info) values (:owner, :src_file_path, :drawing_info)" />
		<add key="style_update" value="update chen_file_styles set drawing_info = :drawing_info where owner = :owner and src_file_path = :src_file_path" />
		<add key="style_delete" value="delete from chen_file_styles where owner = :owner and src_file_path = :src_file_path" />
		<!-- SQL statements on shared data -->
		<add key="shared_data_list" value="select u.owner, u.src_file_path, u.data_name, u.data_size, u.last_modified, u.last_uploaded, u.upload_status, u.total_row_count, u.cached_row_count, s.drawing_info, o.shared_date 
			from chen_file_uploads u left outer join chen_file_styles s on u.owner = s.owner and u.src_file_path = s.src_file_path 
									 join chen_file_uploads_shared o on u.owner = o.owner and u.src_file_path = o.src_file_path
			where o.shared_user = :shared_user order by last_uploaded desc" />
		<add key="shared_user_list" value="select shared_user, shared_date from chen_file_uploads_shared 
			where owner = :owner and src_file_path = :src_file_path order by shared_user, shared_date asc" /> 
		<add key="shared_insert" value="insert into chen_file_uploads_shared (owner, src_file_path, shared_user, shared_date) values (:owner, :src_file_path, :shared_user, :shared_date)" />
		<add key="shared_delete" value="delete from chen_file_uploads_shared where owner = :owner and src_file_path = :src_file_path and shared_user = :shared_user" />
		<add key="shared_delete_all" value="delete from chen_file_uploads_shared where owner = :owner and src_file_path = :src_file_path" />
		<!-- default symbol json files -->
		<add key="default_style_point" value="C:\Users\kdb086\Projects\CgiPythonProject\config\default_symbol_point.json" />
		<add key="default_style_line" value="C:\Users\kdb086\Projects\CgiPythonProject\config\default_symbol_line.json" />
		<add key="default_style_polygon" value="C:\Users\kdb086\Projects\CgiPythonProject\config\default_symbol_polygon.json" />
		<!-- debugger -->
		<add key="debug" value="True" />
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="cgi-python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\ArcGIS10.2\python.exe %s %s" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
</configuration>
