<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  	<appSettings>
		<!-- app_mode: ["unit_test", "web_deploy"] -->
		<add key="app_mode" value="unit_test" />
		<!-- output_wkid: 4326 (GCS_WGS_1984) -->
		<add key="output_wkid" value="4326" />
		<add key="max_num_of_rows" value="10000" />
		<add key="store" value="C:\ProjectStore\Chen\UploadFile\test_data\user_store" />
		<add key="stage" value="C:\ProjectStore\Chen\UploadFile\test_data\data_stage" />
		<add key="cache" value="C:\ProjectStore\Chen\UploadFile\test_data\data_cache" />
		<!-- Geocoding Service Keys -->
        <add key="gc_provider" value="esri" />
		<add key="bing_map_key" value="AucS13UKT6Z3vdopT191o2GIGUcyZ5rnO5cvdY_Py01vancFOkFezw7K7XGeA8or" />
        <add key="esri_agol_key" value="" />
		<!-- db_provider: ["sqlite", "oracle", "mssql"] -->
		<add key="db_provider" value="mssql" />
		<!-- db_server: ["GRP_IMAPS/gis11@SDET", "config/imaps_config.db"] -->
		<add key="db_server" value="db_server" />
		<add key="db_name" value="db_name" />
		<add key="db_user" value="db_user@db_name" />
		<add key="db_pwd" value="password" />
		<!-- SQL statements on uploaded data -->
		<add key="data_list" value="select u.src_file_path, u.data_name, u.data_size, u.last_modified, u.last_uploaded, u.upload_status, u.total_row_count, u.cached_row_count, s.drawing_info
			from xom.SYM_file_uploads u left outer join xom.SYM_file_styles s on u.owner = s.owner and u.src_file_path = s.src_file_path
			where u.owner = %(owner)s order by last_uploaded desc" />
		<add key="data_query" value="select last_modified, cache_file_path, total_row_count, cached_row_count from xom.SYM_file_uploads
			where owner = %(owner)s and src_file_path=%(src_file_path)s and upload_status = 'READY' and cache_file_path is not null" />
		<add key="data_insert" value="insert into xom.SYM_file_uploads
			(owner, src_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count)
			values (%(owner)s, %(src_file_path)s, %(data_size)d, %(cache_file_path)s, %(data_name)s, %(last_modified)s, %(last_uploaded)s, %(last_uploaded)s, %(upload_status)s, %(total_row_count)d, %(cached_row_count)d) " />
		<add key="data_delete" value="delete from xom.SYM_file_uploads where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<add key="data_touch" value="update xom.SYM_file_uploads set last_accessed = %(last_accessed)s where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<add key="data_rename" value="update xom.SYM_file_uploads set data_name = %(data_name)s where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<add key="data_archive" value="insert into xom.SYM_file_uploads_archived
			(owner, src_file_path, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count, archived)
			select owner, %(arv_file_path)s, data_size, cache_file_path, data_name, last_modified, last_uploaded, last_accessed, upload_status, total_row_count, cached_row_count, %(archived)s
			from xom.SYM_file_uploads where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<!-- SQL statements on styles of uploaded data -->
		<add key="status_query" value="select upload_status from xom.SYM_file_uploads where owner = %(owner)s and src_file_path=%(src_file_path)s" />
		<add key="style_query" value="select drawing_info from xom.SYM_file_styles where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<add key="style_insert" value="insert into xom.SYM_file_styles (owner, src_file_path, drawing_info) values (%(owner)s, %(src_file_path)s, %(drawing_info)s)" />
		<add key="style_update" value="update xom.SYM_file_styles set drawing_info = %(drawing_info)s where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<add key="style_delete" value="delete from xom.SYM_file_styles where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<!-- SQL statements on shared data -->
		<add key="shared_data_list" value="select u.owner, u.src_file_path, u.data_name, u.data_size, u.last_modified, u.last_uploaded, u.upload_status, u.total_row_count, u.cached_row_count, s.drawing_info, o.shared_date
			from xom.SYM_file_uploads u left outer join xom.SYM_file_styles s on u.owner = s.owner and u.src_file_path = s.src_file_path
									 join xom.SYM_file_uploads_shared o on u.owner = o.owner and u.src_file_path = o.src_file_path
			where o.shared_user = %(shared_user)s order by last_uploaded desc" />
		<add key="shared_user_list" value="select shared_user, shared_date from xom.SYM_file_uploads_shared
			where owner = %(owner)s and src_file_path = %(src_file_path)s order by shared_user, shared_date asc" />
		<add key="shared_insert" value="insert into xom.SYM_file_uploads_shared (owner, src_file_path, shared_user, shared_date) values (%(owner)s, %(src_file_path)s, %(shared_user)s, %(shared_date)s)" />
		<add key="shared_delete" value="delete from xom.SYM_file_uploads_shared where owner = %(owner)s and src_file_path = %(src_file_path)s and shared_user = %(shared_user)s" />
		<add key="shared_delete_all" value="delete from xom.SYM_file_uploads_shared where owner = %(owner)s and src_file_path = %(src_file_path)s" />
		<!-- default symbol json files -->
		<add key="default_style_point" value="C:\ProjectStore\Chen\UploadFile\config\default_symbol_point.json" />
		<add key="default_style_line" value="C:\ProjectStore\Chen\UploadFile\config\default_symbol_line.json" />
		<add key="default_style_polygon" value="C:\ProjectStore\Chen\UploadFile\config\default_symbol_polygon.json" />
		<!-- debugger -->
		<add key="debug" value="True" />
	</appSettings>
    <system.webServer>
        <handlers>
            <remove name="Python-Handler-64bit" />
            <add name="Python-Handler-64bit" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python27\ArcGISx6410.6\python.exe %s %s" resourceType="File" requireAccess="Script" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
